@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Silkscreen&display=swap');

.header {
    display: flex;
    height: max-content;
    width: 100vw;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 50px;
    background-color: black;
    color: white;
}

.logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.advitya {
    max-width: 200px;
}

.fusion {
    max-width: 250px;
}

.copy-medium {
    font-size: x-large;
}

.event-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3vw;
    width: 100%;
    text-align: center;
    color: rgb(220, 28, 178);
    background-color: rgb(166, 199, 252);
    margin: 20px 0px;
}

.button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    width: 150px;
    height: 7vh;
    min-height: 50px;
    max-height: 100px;
    box-shadow: 4px 4px gray;
    border-radius: 10px;
    font-size: 20px;
    color: black;
    gap: 10px;
    transition: 20ms;
    background-color: white;
}
.button:active {
    box-shadow: none;
}
.info {
    background-color: aqua;
}
.actions {
    background-color: springgreen;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

footer {
    display: flex;
    width: 100vw;
    height: 30px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: x-large;
    width: 300px;
    min-height: 350px;
    height: max-content;
    border: 2px solid black;
    box-shadow: 5px 5px black;
    transition: 100ms;
    background-color: white;
    border-radius: 20px;
}
.card:hover {
    border-radius: 0px;
}
.card.one {
    background-color: rgb(254, 56, 248);
}
.card.two {
    background-color: rgb(209, 102, 255);
}
.card.three {
    background-color: chartreuse;
}
.card.four {
    background-color: rgb(255, 43, 43);
}
.card.five {
    background-color: yellow;
    justify-content: space-evenly;
    padding: 0px 10px;
    box-sizing: border-box;
}
.rank.entry {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 3px black dashed;
    padding-bottom: 5px;
    font-family: Courier, monospace;
    font-size: larger;
    gap: 10px;
} 
.rank.team {
    display: flex;
    width: 65%;
    margin: 0;
    text-align: left;
    justify-content: flex-start;
}
.rank.time {
    margin: 0;
    display: flex;
    width: 35%;
    justify-content: flex-end;
}
.card > button {
    width: 60px;
    height: 50px;
    box-shadow: 5px 5px black;
}
.card.six {
    background-color: #ff7e28;
    justify-content: space-evenly;
    padding: 0px 10px;
    box-sizing: border-box;
}
.announcement-text {
    font-size: large;
}
.card.seven {
    background-color: aqua;
}
.card > a > button {
    width: 60px;
    height: 50px;
    box-shadow: 5px 5px black;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: max-content;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
    gap: 50px;
    background-color: white;
}

.field {
    padding: 10px;
    width: 200px;
    height: 30px;
    font-size: 20px;
    background-color: rgb(0, 0, 0, 0);
    border: 0;
    border-radius: 0;
    border-bottom: 2px;
    border-color: black;
    border-style: solid;
}
.field::placeholder {
    color: black;
}
.field:focus {
    outline: none;
}

.message {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    font-size: 12px;
    height: 20px;
    width: 100px;
    margin-top: 20px;
}
.error.message {
    color: rgb(237, 45, 45);
}
.success.message {
    color: green;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.result-container {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0px 20px;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    background-color: white;
    margin: 30px 0px;
    font-size: 16px;
    font-family: monospace;
    text-align: left;
}
.result-container > h3 {
    margin: 0;
}

#info-page {
    display: flex;
    flex-direction: column;
    height: max-content;
    min-height: 600px;
    width: 100vw;
    background-color: black;
    color: rgb(171, 132, 251);
}

.page-title {
    font-family: 'Silkscreen', 'Courier New', Courier;
    font-size: xx-large;
    text-align: center;
    border-bottom: 2px solid hotpink;
    padding-bottom: 20px;
}

.alert-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(199, 57, 57, 0.229);
    width: 90vw;
    padding: 10px;
    align-self: center;
    height: max-content;
    color: rgb(240, 73, 73);
    gap: 20px;
    font-size: 24px;
    text-align: left;
    border-radius: 10px;
}
.alert-box > h6 {
    margin: 0;
}
.alert-box > img {
    margin-left: 10px;
}
.alert-box > h6 > a {
    color: white;
}

.rules-box {
    display: flex;
    width: 90vw;
    align-self: center;
    height: max-content;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    margin: 30px 0px;
    border-radius: 10px;
    box-shadow: inset 5px 5px 5px gray;
}

.rules-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    color: black;
    font-family: 'Courier', monospace;
    font-size: 20px;
}

.not-found {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: mediumpurple;
    font-family: 'Graduate', monospace;
    font-size: xx-large;
}

.results.page, .leaderboard.page {
    display: flex;
    flex-direction: column;
    height: max-content;
    min-height: 600px;
    width: 100vw;
    background-color: black;
    color: aliceblue;
    font-family: monospace;
}
.results.page > h1 {
    margin: 0;
}
.leaderboard.page > h1 {
    margin: 0;
    box-sizing: border-box;
}
.leaderboard.display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 20px;
    font-size: medium;
}
.loading {
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}
.team.unit {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 4fr 1fr;
    border-bottom: 2px dashed white;
    justify-content: center;
}
.results.title {
    font-family: 'Silkscreen', 'Courier New', Courier;
    font-size: 40px;
    text-align: center;
    border-bottom: 2px solid hotpink;
    padding: 20px 0px;
    color: rgb(171, 132, 251);
}
.results.headings {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 90%;
    align-self: center;
    box-sizing: border-box;
    border-bottom: 3px dashed white;
    margin: 0px 20px;
    padding: 10px 20px;
    font-size: 20px;
    color: goldenrod;
}
.results.teamname {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    align-self: center;
    box-sizing: border-box;
    margin: 0px 20px;
    padding: 10px 20px;
    font-size: 30px;
    color: white;
    text-align: center;
    font-family: 'Graduate';
}
#winner-one, #winner-two {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

.modal.layer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(222, 255, 189, 0.629);
}
.modal.box {
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 90vw;
    max-width: 500px;
    border-radius: 40px;
    color: white;
    font-family: monospace;
    box-sizing: border-box;
    padding: 25px;
    font-size: medium;
}